<div class="homes row-fluid">
<div class="span3 sidebar">
	ホットエントリー<br />
	<hr>
	あなたへのおすすめ

</div>
<div class="span9 main">
	<% @contents.each do |c| %>

		<div class="tag_field">
		<% c.tags.each do |t| %>
			<span class="tag"><%= t.name %></span>
		<% end %>
		</div>

	<div class="content">
			<h3><%= link_to c.title, action: "show", controller: "contents", url: c.url %></h3>
			<span><%= c.summary %></span>
	</div>
	<% end %>

	</div>
</div>
