// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes {
	.main {
	@include marginMiddleAll;
	}

	.content {
		@include box;
		@include paddingMiddleAll;
	  text-align: center;
		line-height: 25px;
		font-size: $fontMiddle;
		line-height: 25px;
		filter:alpha(opacity=90);
		-moz-opacity: 0.9;
		opacity: 0.9;
		border-radius: 3px;
	}

.sidebar {
  @include marginShortAll;
  @include paddingMiddleAll;
  font-size: $fontMiddle;
  line-height: 25px;
  filter:alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  margin-left: -20px;
	background: transparent;
}

.tag_field {
	margin: 10px 0px;
}

.tag {
	margin-right: 5px;
	background: $kokihiRed;
	border-radius: 3px;
  color: $White;	
	padding: 7px 12px;
}

}
